<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <configSections>
    <section name="MizCacheConfig" type="Mizuho.London.Common.Cache.MizCacheConfigHandler, Mizuho.London.Common.Cache" />
  </configSections>
  <MizCacheConfig>
    <Connection Server="V-RDSSVC01D" Port="6379" Password="R3d1sD3v" />
    <Key ApplicationIdentifier="{GUID}" />
  </MizCacheConfig>
</configuration>