<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.1.1" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Mizuho.London.Common.Cache" version="1.1.3" targetFramework="net461" />
  <package id="Mizuho.London.Common.Interfaces" version="1.1.7" targetFramework="net461" />
  <package id="Mizuho.London.Common.Logging" version="2.0.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net461" />
</packages>