<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <roleManager>
      <providers>
        <add name="MizuhoRoleProvider" appSecurityUrl="#{AppSecurity.WebService}" xdt:Transform="SetAttributes(appSecurityUrl)" xdt:Locator="Match(name)" />
        <add name="MizuhoRoleDBProvider" connectionString="metadata=res://*/AppSecurity.csdl|res://*/AppSecurity.ssdl|res://*/AppSecurity.msl;provider=System.Data.SqlClient;provider connection string=&quot;#{AppSecurity.ConnString};App=EntityFramework&quot;" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="#{AllowOrigin}" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>